ID4JQM_0928/sp_konyv.dtd

<!DOCTYPE konyvek [
        <!ELEMENT konyvek (konyv+)>
        <!ELEMENT konyv (cim,pubEv,kiado,szerzo,abstract)>
        <!ELEMENT cim (#PCDATA)>
        <!ELEMENT pubEv (#PCDATA)>
        <!ELEMENT kiado (#PCDATA)>
        <!ELEMENT szerzo (#PCDATA)>
        <!ELEMENT abstract (#PCDATA)>
        ]>