ID4JQM_1005/sp_konyv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="konyvek">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="konyv" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="cim"/>
              <xs:element type="xs:string" name="pubEv"/>
              <xs:element type="xs:string" name="kiado"/>
              <xs:element type="xs:string" name="szerzo"/>
              <xs:element type="xs:string" name="abstract"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>