ID4JQM_1005/sp_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="targy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nev"/>
                    <xs:element name="ideje">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nap"/>
                          <xs:element type="xs:string" name="kezdes"/>
                          <xs:element type="xs:string" name="vege"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="helyszin"/>
                    <xs:element type="xs:string" name="oktato"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="tipus" use="optional"/>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>