ID4JQM_1013/sp_nevjegykartya.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nevjegykartyak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nevjegykartya" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nev"/>
              <xs:element name="ceg">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nev"/>
                    <xs:element name="cim">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="iranyitoszam"/>
                          <xs:element type="xs:string" name="varos"/>
                          <xs:element type="xs:string" name="utca"/>
                          <xs:element type="xs:byte" name="hazszam"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:long" name="telefonszam"/>
                    <xs:element type="xs:anyURI" name="weblap"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="beosztas"/>
              <xs:element type="xs:long" name="telefonszam"/>
              <xs:element type="xs:string" name="email"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>